<ul class="nav nav-pills navbar-right" style="padding-right: 20px">
  <li role="presentation" >
    <a href="<%= root_path %>" class="dropdown-toggle">
      <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
      首页
    </a>
  </li>

  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
      <span class="glyphicon glyphicon-list" aria-hidden="true"></span> 用户管理 <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">

      <li>
        <% if current_user.datatype == 0||current_user.datatype == 2 %>
          精准数据
        <% end %>
      </li>
      <li>
        <% if current_user.datatype == 1||current_user.datatype == 2 %>
            大数据
        <% end %>
      </li>
      <li>
        <% if current_user.usertype == 1 %>
          <%= link_to '账户管理', users_path %>
        <% end %>
      </li>
      <li>
        添加数据
      </li>
      <li>
        白名单
      </li>

    </ul>
  </li>





      <li><%= link_to '退出登录', session_path(current_user.id),:class=>"glyphicon glyphicon-off", :method => :delete %></li>





</ul>